.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.header{
  height: 8rem;
}

.sidebar {
  min-height: 600px;
}

.post-card{
  margin: 20px 50px;
}

.hashtag{
  margin: 0px 3px;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background-color: #f1f1f1;
  color: #333;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.reactions {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}


.logo {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: gray;
}

.taglinelogo {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}