.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.header{
  height: 8rem;
}

.sidebar {
  min-height: 600px;
}

.post-card{
  margin: 20px 50px;
}

.hashtag{
  margin: 0px 3px;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.logo {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: gray;
}

.taglinelogo {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}